.button{
    border: none;
    background: rgb(16, 103, 161);
    color: #fff;
    padding: 5px 17px;
    border-radius: 4px;
    outline: none;
    margin-left: 5px;
    margin-top: 10px;
    transition: .2s;
}

.button:hover{
    background: rgb(22, 116, 179) ;
}